@import '../variables';

.FF_searchbar-wrapper{
  flex-grow: 0.5;
  height: 50px;
  border-radius: 100px;
  box-shadow: inset 0 0 17px -8px;
  background: #f9f9f9;
  cursor: pointer;
}

.FF_searchbar-container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 15px;
}

.FF_searchbar-icon-container{
  padding: 0 15px 0px 5px;
  transition: $transition_mid;
  backface-visibility: hidden;
}

.FF_searchbar-icon{
  height: 18px;
}


.FF_searchbar-container:focus-within .FF_searchbar-icon-container{
  transform: scale(1.35);
  //transform: ;
}


.FF_searchbar-input{
  height: 90%;
  background: #0000;
  border: none;
  //color: $color_text_gray;
  width: 100%;
  font-size: 14pt;
}

.FF_searchbar-input:focus{
  outline: none !important;
  border: none;
}

.FF_searchbar-suggestions-wrapper{
  height: 100%;
  position: absolute;
  width: 53%;
  padding-left: 25px;
  bottom: -55px;
}

.FF_searchbar-suggestions-container{
  background: #fff;
  max-height: 344px;
  width: 100%;
  overflow: scroll;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.FF_searchbar-suggestion-item{
  background: $color_white;
  padding: 12px 15px;
  border-bottom: 1px solid #d2d2d2;
  transition: $transition_mid;
}

.FF_searchbar-suggestion-item:hover{
  background: #e5e5e5;
  padding: 12px 30px;
}

.FF_searchbar-suggestion-item-text{

}

.FF_searchbar-suggestion-item-highlighter{
  font-size: 17pt;
  color: $color_text_gray;
  background: #f3f3f3;
  padding: 5px 0px;
  font-weight: 600;
}