// Colors
$color_white : #fff;
$color_white2 : #efefef;
$color_text_black: #272727;;
$color_text_gray : #7d7d7d;;

// Shadows
$shadow_L1 : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow_L2 : 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow_L3 : 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow_L4 : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow_L5 : 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
$shadow_Lifted : 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

// Transition Speeds
$transition_fast : all 0.3s cubic-bezier(.25,.8,.25,1);
$transition_mid : all 0.5s cubic-bezier(.25,.8,.25,1);
$transition_slow : all 0.7s cubic-bezier(.25,.8,.25,1);
